[Unit]
Description=Valheim server service
[Service]
Type=simple
User={{ satisfactory_usr }}
Group={{ steam_usrs_group}}
WorkingDirectory=/home/{{ satisfactory_usr }}/Valheimserver
Restart=on-failure
RestartSec=5s
ExecStart=/home/{{ satisfactory_usr }}/Valheimserver/start_server.sh
SyslogIdentifier=Valheimserver
[Install]
WantedBy=multi-user.target